@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins, sans-serif);
  --font-serif: var(--font-playfair, serif);
  --font-mono: var(--font-space-mono, monospace);

  --animate-spin-slow: spin 20s linear infinite;
}

html {
  scroll-behavior: smooth;
}

